<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">

    <title>Edge-IoT Simulator - CPU-Load!</title>
  </head>
  <body>
    <div class="container px-4">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Edge-IoT Simulator</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Temperature</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cpu-load">CPU-Load</a>
              </li>
            </ul>
          </div>
          <form class="form-inline" action="/logout">
            <button class="btn btn-outline-danger" type="submit">Logout</button>
          </form>
        </div>
      </nav>
      <div class="row gx-5">
          <div class="col">
            <div class="p-3 border">
              <h2>Temperature Service</h2>
              <p>Timestamp: {{ TemperatureMeasurement.timestamp }} </p>
              <p>Value: {{ TemperatureMeasurement.value }} </p>
              <p>Unit: {{ TemperatureMeasurement.unit }}</p>
              <form>
                  <div class="form-example">
                  <label for="name">Average Latency (10 requests):</label>
                  <input type="text" name="latency" id="latency"> <i>ms</i>
                  </div>
              </form>
              <button onclick="myFunction()">Check latency</button>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="p-3 border">
              <h3>MQTT Info</h3>
              <p>Host: {{ MqttStatistics.host }}</p>
              <p>Port: {{ MqttStatistics.port }}</p>
              <p>Connection status: {{ MqttStatistics.status }}</p>
              <p>Published messages: {{ MqttStatistics.message_counter }} </p>
          </div>
      </div>
<script>
    function myFunction() {
        total_simulation_time = 0;
        const start = Date.now();
        const interactions = 10;
        for (let i = 0; i < interactions; i++) {
            const start = Date.now();
            fetch('http://localhost:5000/temperature').then(function(response) {
                return response.json();
                }).then(function(data) {
                    console.log(data);
                }).catch(function() {
                    console.log("An error occurred!");
                });
            const millis = Date.now() - start;
            total_simulation_time = total_simulation_time + millis
        }
        document.getElementById('latency').value = total_simulation_time / interactions;
    };
</script>   
</body>